{% extends 'base.html' %} 
{% load static %}
{% block content %}
<!-- <style>
    .fishes
    {
      position: relative;
      top: 10;
      left: 10;
    }
    .fish
    {
      position:absolute;
      top: 120px;
      left: 270px;
    }
  </style>
<img src="{% static 'images/expense13.jpeg' %}" class="fishes" height="85%" width="100%">

<img src="{% static 'images/logo3.png' %}" height="15%" class="fish"> -->


<style>
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .bg-image {
      /* The image used */
      background-image: url("{% static 'images/expense13.jpeg' %}");
      
      /* Add the blur effect */
      filter: blur(8px);
      -webkit-filter: blur(5px);
      
      /* Full height */
      height: 100%; 
      
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    /* Position text in the middle of the page/image */
    .bg-text {
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -60%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
    }
    </style>
    </head>
    <body>
      {% for message1 in messages %}
      <h4 style="color: darkred;"><script>alert("{{message1}}")</script></h4>
      {% endfor %}
    <div class="bg-image"></div>
    
    <div class="bg-text">
     
      <h1 style="font-size:50px;font-family: 'Courier New', Courier, monospace;">Welcome to Expense Manager</h1>
      <!-- <img src="{% static 'images/logo3.png' %}" height="15%" > -->
    </div>


{% endblock %}